@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IEnumerable<csproject.Models.Users>

@{
    ViewData["Title"] = "客戶資料列表";
    Layout = "_LayoutAdmin";
}

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">
        <h5>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <div class="overflow-scroll">
            <div class="row mx-1">
                <div class="col-md-12">
                    <div class="float-start">  @* start 左邊， end 右邊 *@
                        @Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", "User", new { area = "Admin", page = x}))
                    </div>
                    <div class="float-start page-info">
                        @ViewBag.PageInfo
                    </div>
                    <div class="float-end">
                        @using (Html.BeginForm("Search", "User", new { area = "Admin" }, FormMethod.Post))
                        {
                            <table>
                                <tr>
                                    <td>
                                        <span class="control-label fw-bold">查詢條件：</span>
                                    </td>
                                    <td class="pr-2">
                                        <input id="SearchText" name="SearchText" type="text" class="form-control data-list-search-text" placeholder="請輸入查詢條件..." value="@ViewBag.SearchText" style="width:200px;" />
                                    </td>
                                    <td>
                                        <input type="submit" value="查詢" class="btn btn-primary" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>
                            @Html.ActionLink("新增", "CreateEdit", "User" , new { area = "Admin" , id = "0"} , new {@class = "btn btn-primary"})
                        </th>
                        <th>
                            @Html.ColumnSort("Users.UserNo", @Html.DisplayNameFor(model => model.UserNo))
                        </th>
                        <th>
                            @Html.ColumnSort("Users.UserName", @Html.DisplayNameFor(model => model.UserName))
                        </th>
                        <th>
                            @Html.ColumnSort("Roles.RoleName", @Html.DisplayNameFor(model => model.RoleName))
                        </th>
                        <th>
                            @Html.ColumnSort("Genders.GenderName", @Html.DisplayNameFor(model => model.GenderName))
                        </th>
                        <th>
                            @Html.ColumnSort("Departments.DeptName", @Html.DisplayNameFor(model => model.DeptName))
                        </th>
                        <th>
                            @Html.ColumnSort("Users.Birthday", @Html.DisplayNameFor(model => model.Birthday))
                        </th>
                        <th>
                            @Html.ColumnSort("Users.OnboardDate", @Html.DisplayNameFor(model => model.OnboardDate))
                        </th>
                        <th>
                            @Html.ColumnSort("Users.LeaveDate", @Html.DisplayNameFor(model => model.LeaveDate))
                        </th>
                        <th>
                            @Html.ColumnSort("Users.ContactEmail", @Html.DisplayNameFor(model => model.ContactEmail))

                        </th>
                        <th>
                            @Html.ColumnSort("Users.ContactTel", @Html.DisplayNameFor(model => model.ContactTel))
                        </th>
                        <th>
                            @Html.ColumnSort("Users.Remark", @Html.DisplayNameFor(model => model.Remark))
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.ActionLink("修改", "CreateEdit", "User" , new { area = "Admin" , id = item.Id} , new {@class = "btn btn-success"})
                            @Html.ActionLink("刪除", "Delete", "User" , new { area = "Admin" , id = item.Id} ,
                                new {@class = "btn btn-danger" , onclick = "return confirm('是否確定要刪除?');"})
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeptName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OnboardDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactTel)
                        </td>
                        <td class="table-wrap">
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>